<template name="cardFinder">
  <h1>Card Finder</h1>
  <div class="cardsList">
    <form class="form-inline">
      <div class="form-group">
        {{> inputAutocomplete settings=settings id="card0" class="input-xlarge" placeholder="Chat..."}}
        {{> inputAutocomplete settings=settings id="card1" class="input-xlarge" placeholder="Chat..."}}
        {{> inputAutocomplete settings=settings id="card2" class="input-xlarge" placeholder="Chat..."}}
        <button type="submit" class="btn btn-default">Okgo</button>
      </div>
    </form>
  </div>
</template>

<template name="cardFinderLabel">
  <span class="label">{{name}}</span>
</template>